<ion-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="container">
          <form id="city-form" class="form">
            <h2 class="form__title">Add City</h2>
            <h3 class="form__subtitle">City</h3>
            <div class="form__group">
              <label for="city-name">City Name:</label>
              <input type="text" id="city-name" name="city-name" />
            </div>
            <div class="form__group">
              <label for="city-code">City Code:</label>
              <input type="text" id="city-code" name="city-code" />
            </div>
            <button type="submit" class="form__button">Add</button>
          </form>
          <table id="city-list" class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Code</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>