<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Account Login</h1>
        <div class="container">
          <div class="form-container">
            <h2>Please Sign In</h2>
            <form>
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" required>
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required>
              <div class="remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
              </div>
              <input type="submit" value="Login">
            </form>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>